.pic{
    margin-top: 100px;
}
#about{
    background-color: rgb(158, 170, 170); 
    margin-top: 100px;
}
#service{
    background-color: rgb(158, 170, 170); 
    margin-top: 70px;
}
#soft{
    background-color: rgb(158, 170, 170); 
    margin-top: 100px;
}

.choose{
    background-color: rgb(158, 170, 170);  
    margin-top: 70px;
}
#client{
    background-color: rgb(158, 170, 170); 
    margin-top: 70px;
}
#contact{
    background-color: rgb(158, 170, 170);
    margin-top: 70px;
}

.footer{
    background-image:url();
    background-color: rgb(158, 170, 170);
    height: 200px;
}